@charset "utf-8";
/* CSS Document */

body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
}
body {
	background-image: url(imagenes/pat_menu.png);
	background-repeat: repeat;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

@font-face {
font-family: "Philosopher Regular";
src: url(fintranet/fonts/Philosopher-Regular.ttf) format("truetype");
}

@font-face {
font-family:"NewsCycle Regular";
src: url(fintranet/fonts/NewsCycle-Regular.ttf) format("truetype");
}


hr {border: 0; height: 12px; box-shadow: inset 0 12px 12px -12px #707070;}

a.menus:link {text-decoration:none; color: #98CA46;} /* Link no visitado*/
a.menus:visited {text-decoration:none; color:#98CA46;} /*Link visitado*/
a.menus:active {text-decoration:none; color: #98CA46;} /*Link activo*/
a.menus:hover {text-decoration:none; color: #57BFEA;} /*Mause sobre el link*/


#contenedor
{
/*background-color:#262626;*/
width:100%;
margin: 8px 0 0 10px;
}

#contenido_cont
{
width:97%;
background-color:#262626;
padding:10px;
}

.blue
{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#57BFEA;
}

.spblue
{
	font-family: "NewsCycle Regular";
	font-size: 16px;
	font-weight: 400;
	color: #57BFEA;
	line-height: 24px;
	margin-bottom: 24px;
}

.green
{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#98CA46;
}

.spgreen
{
	font-family: "NewsCycle Regular";
	font-size: 16px;
	font-weight: 400;
	color: #98CA46;
	line-height: 24px;
	margin-bottom: 24px;
}

.white
{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#fff;
}

.spwhite
{
	font-family: "NewsCycle Regular";
	font-size: 16px;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 24px;
	margin-bottom: 24px;
}

.grey
{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#818285;
}

.spgrey
{
	font-family: "NewsCycle Regular";
	font-size: 16px;
	font-weight: 400;
	color: #818285;
	line-height: 24px;
	margin-bottom: 24px;
}
.spred
{
	font-family: "NewsCycle Regular";
	font-size: 16px;
	font-weight: 400;
	color: #ff0000;
	line-height: 24px;
	margin-bottom: 24px;
}
.titblue
{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 18px;
	color:#57BFEA;
}

h1 {									/* Used for Green headers */	
	font-family:"Philosopher Regular";
	font-size: 30px;
	font-weight: 400;
	color: #fff; 					/* JC Green */
	line-height: 28px;
	margin-bottom: 14px;
}

h1 span {
color: #57BFEA;
}

h2 {									/* Used for Green headers */	
	font-family:"Philosopher Regular";
	font-size: 30px;
	font-weight: 400;
	color: #57BFEA; 					/* JC Green */
	line-height: 28px;
	margin-bottom: 14px;
}

h3 {									/* Used for Green headers */	
	font-family:"Philosopher Regular";
	font-size: 30px;
	font-weight: 400;
	color: #98CA46; 					/* JC Green */
	line-height: 28px;
	margin-bottom: 14px;
}

h4 {									/* Used for Green headers */	
	font-family:"Philosopher Regular";
	font-size: 30px;
	font-weight: 400;
	color: #fff; 					/* JC Green */
	line-height: 28px;
	margin-bottom: 14px;
}

.cajaarea 
{
	font-family:"NewsCycle Regular";
	color:#818285;
	font-size: 16px;
	background-color: #1a1a1a;
	border: 10px solid #707070;
	scrollbar-arrow-color: #3AA0B6;
	scrollbar-base-color: #707070;
	scrollbar-dark-shadow-color: #0880A2;
	scrollbar-track-color: #666633;
	scrollbar-face-color: #cc9933;
	scrollbar-shadow-color: #DDDDDD;
	scrollbar-highlight-color: #CCCCCC;

}

#cajaareas
{
	font-family:"NewsCycle Regular";
	color:#818285;
	font-size: 16px;
	background-color: #1a1a1a;
	border: 5px solid #707070;
	padding:10px;
}

#resfor
{
	background-color: #fff;
	padding:10px;
	border: 10px solid #707070;
}



/*
p {
font-family: 'News Cycle', sans-serif;
font-size: 16px;
font-weight: 400;
color: #FFFFFF;
line-height: 24px;
max-width: 580px;
margin-bottom: 24px;
}
*/